<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>PrimeFaces Icarus</title>
    </h:head>

    <h:body styleClass="containerLogin">
        <div class="logo-container" style="width: 350px;">
            <h:graphicImage name="images/404.png" id="Logo404" library="icarus-layout" />
            <h1>Este es un boton de prueba, click aqui y veras la magia</h1>

            <h:commandButton value="Boton de prueba"/>
        </div>
        <div class="ui-g">
            <div class="ui-g-4"></div>
            <div class="ui-g-12 ui-lg-4" style="text-align:center;padding-bottom:70px;">
                <div class="ui-g-12" style="color:#fff;margin-bottom:25px;">
                    <h1 style="font-weight:bold;">Sorry, we couldn’t find it…</h1>
                    <span>The page you’re looking for doesn’t exist.</span>
                </div>
                <p:button id="errorButton" value="Homepage" outcome="dashboard"></p:button>

            </div>
            <div class="ui-g-12" style="text-align:center;margin-top:25px;color:#fff">
                <span>PrimeFaces Icarus Theme and Layout </span><br/>
                <span>All rights reserved.</span>
            </div>
            <div class="ui-g-4"></div>
        </div>

        <style type="text/css">
            html {height: 100%;}
            .ui-button-text, .ui-button-text-only .ui-button-text{padding:8px !important; transition:none !important;}
        </style>

        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="icarus-layout" />
    </h:body>

</html>